In [1]:
import sys
# !{sys.executable} -m pip install py4j
print(sys.executable)
from pyspark.sql import SparkSession

spark1 = SparkSession.builder.appName('Ops').getOrCreate()

/Users/fredafal/anaconda3/bin/python3
/Users/fredafal/anaconda3/bin/python3

In [2]:
print(spark1)

<pyspark.sql.session.SparkSession object at 0x113291a20>
<pyspark.sql.session.SparkSession object at 0x113291a20>

In [1]:
from pyspark import SparkContext
import numpy as np
sc=SparkContext(master="local[4]")
lst=np.random.randint(0,10,20)
A=sc.parallelize(lst)

In [2]:
sc.stop()
sc=SparkContext(master="local[2]")
A = sc.parallelize(lst)
A.glom().collect()

[[2, 8, 7, 9, 6, 2, 3, 9, 2, 9], [8, 8, 1, 6, 8, 5, 2, 4, 4, 8]]

In [3]:
A.reduce(lambda x,y: x if x > y else y)

9

In [4]:
words = 'These are some of the best Macintosh computers ever'.split(' ')
wordRDD = sc.parallelize(words)
wordRDD.reduce(lambda w,v: w if len(w)>len(v) else v)

'computers'

In [5]:
A.filter(lambda x:x%3==0 and x!=0).collect()

[9, 6, 3, 9, 9, 6]

In [7]:
result=A.groupBy(lambda x:x%2).collect()
sorted([(x, sorted(y)) for (x, y) in result])

[(0, [2, 2, 2, 2, 4, 4, 6, 6, 8, 8, 8, 8, 8]), (1, [1, 3, 5, 7, 9, 9, 9])]

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
df = spark.read.json("/usr/local/Cellar/apache-spark/3.0.0/libexec/examples/src/main/resources/people.json")
# Displays the content of the DataFrame to stdout
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [2]:
df.agg({"age": "avg"}).collect()

[Row(avg(age)=24.5)]

In [3]:
df.createOrReplaceTempView("people")
sqlDF = spark.sql("SELECT * FROM people").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [23]:
from pyspark.sql import Row
df = sc.parallelize([ \
    Row(name='Alice', age=5, height=80), \
    Row(name='Alice', age=5, height=80), \
    Row(name='Alice', age=10, height=80)]).toDF()
df.dropDuplicates().show()
df.dropDuplicates(['name', 'height']).show()

+-----+---+------+
| name|age|height|
+-----+---+------+
|Alice|  5|    80|
|Alice| 10|    80|
+-----+---+------+

+-----+---+------+
| name|age|height|
+-----+---+------+
|Alice|  5|    80|
+-----+---+------+

In [24]:
df.dtypes

[('name', 'string'), ('age', 'bigint'), ('height', 'bigint')]

In [11]:

sentence1 = "Hi all, my name is Tom...I am originally from Australia."
def solution(sentence):
    for p in "!?',;.":
        sentence = sentence.replace(p, ' ')
    words = sentence.split()
    return words

print(solution(sentence1))

['Hi', 'all', 'my', 'name', 'is', 'Tom', 'I', 'am', 'originally', 'from', 'Australia']

In [28]:
B=A.map(lambda x:x*x)
B.collect()
B.histogram([x for x in range(0,100,10)])

[4, 64, 49, 81, 36, 4, 9, 81, 4, 81, 64, 64, 1, 36, 64, 25, 4, 16, 16, 64]

In [32]:
sc.stop()
sc = SparkContext(master="local[2]")
%time
from math import cos
def taketime(x):
    [cos(j) for j in range(100)]
    return cos(x)


rdd1 = sc.parallelize(range(1000000))

CPU times: user 10 µs, sys: 2 µs, total: 12 µs
Wall time: 675 µs

In [38]:
%time
taketime(2)
%time
interim = rdd1.map(lambda x: taketime(x))

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.82 µs
CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.2 µs

In [39]:
%time
#interim.collect()
%time
print('output =',interim.reduce(lambda x,y:x+y))

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 5.96 µs
CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.11 µs
output = -0.2887054679684593

In [42]:
print(rdd1.count())

1000000

In [4]:
spark.stop()

In [ ]:
def bubble_sort(lst):
    """
    Bubble sort function
    :param lst: lst of unsorted integers
    """
    # Traverse through all list elements
    for i in range(len(lst)):
        # Last i elements are already in place
        for j in range(0, len(lst) - i - 1):
            # Traverse the list from 0 to size of lst - i - 1
            # Swap if the element found is greater than the next element
            if lst[j] > lst[j + 1]:
                lst[j], lst[j + 1] = lst[j + 1], lst[j]
            #print(lst)


# Driver code to test above
if __name__ == '__main__':

    lst = [3, 35, 23, 7, 11, 2, 20, 1]
    bubble_sort(lst)  # Calling bubble sort function

    print("Sorted list is: ", lst)

In [53]:
'''
Number of Islands
Given a 2d grid map of '1's (land) and '0's (water), count the number of islands.
An island is surrounded by water and is formed by connecting adjacent lands horizontally or vertically.
You may assume all four edges of the grid are all surrounded by water.
Input:  [
            ['1','1','1','1','0'],
            ['1','1','0','1','0'],
            ['1','1','0','0','0'],
            ['0','0','0','0','0']
        ]
Output: 1
Input:  [
            ['1','1','0','0','0'],
            ['1','1','0','0','0'],
            ['0','0','1','0','0'],
            ['0','0','0','1','1']
        ]
Output: 3
'''

in_array = [
            ['1','1','0','1','0'],
            ['1','1','0','1','0'],
            ['1','1','0','0','0'],
            ['0','0','0','1','1']
        ]

islands = [[0 for j in range(len(in_array[0]))] for i in range(len(in_array))]

def prev_island(i,j):
    prev_i = i - 1
    prev_j = j - 1
    island = 0
    if prev_i != -1:
        island = islands[prev_i][j]
    if not island:
        island = islands[i][prev_j]
    
    return island
    
def main():
    isl_cnt = 0
    for i in range(len(in_array)):
        for j in range(len(in_array[0])):
            if in_array[i][j] == '1':
                island = prev_island(i,j)
                if island:
                    islands[i][j] = island
                else:
                    isl_cnt += 1
                    islands[i][j] = isl_cnt

    print(isl_cnt)
    print(islands)
    
main()

3
[[1, 1, 0, 2, 0], [1, 1, 0, 2, 0], [1, 1, 0, 0, 0], [0, 0, 0, 3, 3]]

In [ ]:
'''
The Power Set
The power set of a set is the set of all its subsets.
Write a function that, given a set, generates its power set.
Input: [1, 2, 3, 4]
Output: [
[],
[1], [2], [3], [4],
[1,2], [1,3], [1,4], [2,3], [2,4], [3,4],
[1,2,3], [1,2,4], [1,3,4], [2,3,4],
[1,2,3,4]
]
* You may also use a list or array to represent a set.
=========================================
Simple recursive combinations algorithm.
    Time Complexity:    O(Sum(C(I, N)))     , sum of all combinations between 0 and N = C(0, N) + C(1, N) + ... + C(N, N)
    Space Complexity:   O(Sum(C(I, N)))     , this is for the result array, if we print the number then the space complexity will be O(N) (because of the recursive stack)
I did not solve this one.
'''

in_list = [1, 2, 3, 4]


  
def power_set(arr):
    result = []
    combinations(result, arr, [], 0)
    return result

# result, arr and taken are the same references always
def combinations(result, arr, taken, pos):
    result.append([arr[i] for i in taken]) # create the current combination
    n = len(arr)
    if n == pos:
        return

    # start from the last position (don't need duplicates)
    for i in range(pos, n):
        taken.append(i)
        combinations(result, arr, taken, i + 1)
        del taken[-1] # return to the old state

print(power_set(in_list))

In [1]:
from pyspark.sql import SparkSession

# initialization of spark context
# conf = SparkConf().setAppName(appName).setMaster(master) 
sc = SparkSession\
        .builder\
        .appName("PythonWordCount")\
        .config("spark.some.config.option", "some-value")\
        .getOrCreate()

# read data from HDFS, as a result we get RDD of lines
linesRDD = sc.read.text("votes.test" ) # "hdfs://...")

In [2]:
print(sc.__class__)
dir(sc)
print(linesRDD.__class__)
#dir(linesRDD)

<class 'pyspark.sql.session.SparkSession'>
<class 'pyspark.sql.dataframe.DataFrame'>

In [ ]:
# New context and imports 
# from: https://www.guru99.com/pyspark-tutorial.html

In [1]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import Row
from pyspark.sql import SQLContext

print(pyspark.__version__)

sc = SparkContext()


sqlContext = SQLContext(sc)

nums = sc.parallelize([1,2,3,4])
nums.take(2)

3.0.0

[1, 2]

In [2]:
squared = nums.map(lambda x: x*x).collect()
for num in squared:
    print('%i ' % (num))

1
4
9
16

In [3]:
# sqlContext.createDataFrame(ppl)
list_p = [('John',19),('Smith',29),('Adam',35),('Henry',50)]
rdd = sc.parallelize(list_p)
print(rdd)
ppl = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
print(ppl.top(10))
DF_ppl = sqlContext.createDataFrame(ppl)

DF_ppl.printSchema()

ParallelCollectionRDD[4] at readRDDFromFile at PythonRDD.scala:262
[Row(name='Smith', age=29), Row(name='John', age=19), Row(name='Henry', age=50), Row(name='Adam', age=35)]
root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [4]:
#from pyspark.sql import SQLContext
url = "https://raw.githubusercontent.com/guru99-edu/R-Programming/master/adult_data.csv"
from pyspark import SparkFiles
sc.addFile(url)
sqlContext = SQLContext(sc)
f = SparkFiles.get("adult_data.csv")
print(f)

/private/var/folders/6d/br2_wqvd3kb2_5n3bf60fkpw0000gp/T/spark-8911c858-8c67-40f9-933a-03cae1ed2ffc/userFiles-af71261c-68e8-4e38-9147-0f2e9a46ff23/adult_data.csv

In [5]:
df = sqlContext.read.csv(SparkFiles.get(f), header=True, inferSchema= True)
df.printSchema()
df.show(5, truncate = False)

root
 |-- x: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
|x  |age|workclass|fnlwgt|education   |educational-num|marital-status    |occupation       |relationship|race |gender|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
|1  |25 |Private  |226802|11th        |7              |Never-married     |Machine-op-inspct|Own-child   |Black|Male  |0           |0           |40            |United-States |<=50K |
|2  |38 |Private  |89814 |HS-grad     |9              |Married-civ-spouse|Farming-fishing  |Husband     |White|Male  |0           |0           |50            |United-States |<=50K |
|3  |28 |Local-gov|336951|Assoc-acdm  |12             |Married-civ-spouse|Protective-serv  |Husband     |White|Male  |0           |0           |40            |United-States |>50K  |
|4  |44 |Private  |160323|Some-college|10             |Married-civ-spouse|Machine-op-inspct|Husband     |Black|Male  |7688        |0           |40            |United-States |>50K  |
|5  |18 |?        |103497|Some-college|10             |Never-married     |?                |Own-child   |White|Female|0           |0           |30            |United-States |<=50K |
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [6]:
df.groupBy("education").count().sort("count",ascending=True).show()
df.groupBy("native-country").count().sort("count",ascending=True).show()

+------------+-----+
|   education|count|
+------------+-----+
|   Preschool|   83|
|     1st-4th|  247|
|     5th-6th|  509|
|   Doctorate|  594|
|        12th|  657|
|         9th|  756|
| Prof-school|  834|
|     7th-8th|  955|
|        10th| 1389|
|  Assoc-acdm| 1601|
|        11th| 1812|
|   Assoc-voc| 2061|
|     Masters| 2657|
|   Bachelors| 8025|
|Some-college|10878|
|     HS-grad|15784|
+------------+-----+

+--------------------+-----+
|      native-country|count|
+--------------------+-----+
|  Holand-Netherlands|    1|
|             Hungary|   19|
|            Honduras|   20|
|            Scotland|   21|
|          Yugoslavia|   23|
|Outlying-US(Guam-...|   23|
|                Laos|   23|
|     Trinadad&Tobago|   27|
|            Cambodia|   28|
|                Hong|   30|
|            Thailand|   30|
|             Ireland|   37|
|              France|   38|
|             Ecuador|   45|
|                Peru|   46|
|              Greece|   49|
|           Nicaragua|   49|
|                Iran|   59|
|              Taiwan|   65|
|            Portugal|   67|
+--------------------+-----+
only showing top 20 rows

In [7]:
cnts = df.groupBy("education").count()
cnts.filter(cnts['count'] < 600).show()

+---------+-----+
|education|count|
+---------+-----+
|  5th-6th|  509|
|  1st-4th|  247|
|Preschool|   83|
|Doctorate|  594|
+---------+-----+

In [8]:
df.describe().show()
df.crosstab('age', 'income').sort("age_income").show()
df.groupby('marital-status').agg({'capital-gain': 'mean'}).show()

+-------+------------------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+
|summary|                 x|               age|  workclass|            fnlwgt|   education|   educational-num|marital-status|      occupation|relationship|              race|gender|      capital-gain|     capital-loss|    hours-per-week|native-country|income|
+-------+------------------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+
|  count|             48842|             48842|      48842|             48842|       48842|             48842|         48842|           48842|       48842|             48842| 48842|             48842|            48842|             48842|         48842| 48842|
|   mean|           24421.5| 38.64358543876172|       null|189664.13459727284|        null|10.078088530363212|          null|            null|        null|              null|  null|1079.0676262233324|87.50231358257237|40.422382375824085|          null|  null|
| stddev|14099.615260708357|13.710509934443525|       null|105604.02542315757|        null| 2.570972755592259|          null|            null|        null|              null|  null| 7452.019057655418| 403.004552124359|12.391444024252312|          null|  null|
|    min|                 1|                17|          ?|             12285|        10th|                 1|      Divorced|               ?|     Husband|Amer-Indian-Eskimo|Female|                 0|                0|                 1|             ?| <=50K|
|    max|             48842|                90|Without-pay|           1490400|Some-college|                16|       Widowed|Transport-moving|        Wife|             White|  Male|             99999|             4356|                99|    Yugoslavia|  >50K|
+-------+------------------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+

+----------+-----+----+
|age_income|<=50K|>50K|
+----------+-----+----+
|        17|  595|   0|
|        18|  862|   0|
|        19| 1050|   3|
|        20| 1112|   1|
|        21| 1090|   6|
|        22| 1161|  17|
|        23| 1307|  22|
|        24| 1162|  44|
|        25| 1119|  76|
|        26| 1068|  85|
|        27| 1117| 115|
|        28| 1101| 179|
|        29| 1025| 198|
|        30| 1031| 247|
|        31| 1050| 275|
|        32|  957| 296|
|        33| 1045| 290|
|        34|  949| 354|
|        35|  997| 340|
|        36|  948| 400|
+----------+-----+----+
only showing top 20 rows

+--------------------+------------------+
|      marital-status| avg(capital-gain)|
+--------------------+------------------+
|           Separated| 581.8424836601307|
|       Never-married|  384.382639449029|
|Married-spouse-ab...| 629.0047770700637|
|            Divorced| 793.6755615860094|
|             Widowed| 603.6442687747035|
|   Married-AF-spouse|2971.6216216216217|
|  Married-civ-spouse|1739.7006121810625|
+--------------------+------------------+

In [9]:
from pyspark.sql import functions as F
age_square = df.select(F.col("age")**2)
# 2 Apply the transformation and add it to the DataFrame
df = df.withColumn("age_square",F.col("age")**2)
df.show(5)

+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+----------+
|  x|age|workclass|fnlwgt|   education|educational-num|    marital-status|       occupation|relationship| race|gender|capital-gain|capital-loss|hours-per-week|native-country|income|age_square|
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+----------+
|  1| 25|  Private|226802|        11th|              7|     Never-married|Machine-op-inspct|   Own-child|Black|  Male|           0|           0|            40| United-States| <=50K|     625.0|
|  2| 38|  Private| 89814|     HS-grad|              9|Married-civ-spouse|  Farming-fishing|     Husband|White|  Male|           0|           0|            50| United-States| <=50K|    1444.0|
|  3| 28|Local-gov|336951|  Assoc-acdm|             12|Married-civ-spouse|  Protective-serv|     Husband|White|  Male|           0|           0|            40| United-States|  >50K|     784.0|
|  4| 44|  Private|160323|Some-college|             10|Married-civ-spouse|Machine-op-inspct|     Husband|Black|  Male|        7688|           0|            40| United-States|  >50K|    1936.0|
|  5| 18|        ?|103497|Some-college|             10|     Never-married|                ?|   Own-child|White|Female|           0|           0|            30| United-States| <=50K|     324.0|
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+----------+
only showing top 5 rows

In [12]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

stringIndexer = StringIndexer(inputCol="workclass", outputCol="workclass_encoded")
model = stringIndexer.fit(df)
indexed = model.transform(df)
encoder = OneHotEncoder(dropLast=False, inputCol="workclass_encoded", outputCol="workclass_vec")
encoded = encoder.fit(indexed).transform(indexed)

encoded.show(5)

+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+----------+-----------------+-------------+
|  x|age|workclass|fnlwgt|   education|educational-num|    marital-status|       occupation|relationship| race|gender|capital-gain|capital-loss|hours-per-week|native-country|income|age_square|workclass_encoded|workclass_vec|
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+----------+-----------------+-------------+
|  1| 25|  Private|226802|        11th|              7|     Never-married|Machine-op-inspct|   Own-child|Black|  Male|           0|           0|            40| United-States| <=50K|     625.0|              0.0|(9,[0],[1.0])|
|  2| 38|  Private| 89814|     HS-grad|              9|Married-civ-spouse|  Farming-fishing|     Husband|White|  Male|           0|           0|            50| United-States| <=50K|    1444.0|              0.0|(9,[0],[1.0])|
|  3| 28|Local-gov|336951|  Assoc-acdm|             12|Married-civ-spouse|  Protective-serv|     Husband|White|  Male|           0|           0|            40| United-States|  >50K|     784.0|              2.0|(9,[2],[1.0])|
|  4| 44|  Private|160323|Some-college|             10|Married-civ-spouse|Machine-op-inspct|     Husband|Black|  Male|        7688|           0|            40| United-States|  >50K|    1936.0|              0.0|(9,[0],[1.0])|
|  5| 18|        ?|103497|Some-college|             10|     Never-married|                ?|   Own-child|White|Female|           0|           0|            30| United-States| <=50K|     324.0|              3.0|(9,[3],[1.0])|
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+----------+-----------------+-------------+
only showing top 5 rows

# Example of creating an RDD from a distributed datastore

In [ ]:
import pyspark

sc = pyspark.SparkContext()
rdd_csv = sc.wholeTextFiles("gs://<BUCKET_NAME>/*.csv")
rdd_csv.collect()

In [ ]:
# Good examples of using JDBC DB connectors as source for DataFrames
# https://github.com/tirthajyoti/Spark-with-Python/blob/master/Dataframe_SQL_query.ipynb

In [ ]:
from pyspark import SparkContext as sc
from pyspark.sql import SparkSession

spark1 = SparkSession.builder.appName('SQL').getOrCreate()
driver = "org.sqlite.JDBC"
path = "Data/chinook.db"
url = "jdbc:sqlite:" + path

tablename = "artists"

df_artists = spark1.read.format("jdbc").option("url", url)/
.option("dbtable", tablename).option("driver", driver).load()

df_artists.show(5)

spark1.sql("SELECT * FROM artists WHERE length(Name)<10 LIMIT 10").show()
# I guess I don't understand how the slark1 session gets tied to the DB connection.

In [34]:
sc.stop()